{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h5>{{ todo_list.title | upper }}</h5>
        </div>
        <ul>
            {% for todo in object_list %}
            <li>
                <div>
                    <a href="{% url 'todo_app:item-update' todo_list.id todo.id %}" role="button">
                        {{ todo.title }} (Due {{ todo.due_date | date:"l, F j" }})
                    </a>
                </div>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <a href="{% url 'todo_app:item-add' todo_list.id %}">
                <button type="button">Add a new item</button>
            </a>
            <a href="{% url 'todo_app:list-delete' todo_list.id %}">
                <button type="button">Delete this list</button>
            </a>
        </p>
    </div>
</div>
{% endblock %}