{% load static %}

<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>오류경의 홈페이지 - {{ title }}</title>
    {% else %}
      <title>오류경의 홈페이지</title>
    {% endif %}
    <link href="{% static 'blog/css/practice.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/bootstrap5.0.2/css/bootstrap-grid.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'blog/js/what_time_is_it.js' %}"></script>
    <script src="https://kit.fontawesome.com/12bfcaf641.js" crossorigin="anonymous"></script>
    <style>
      .card {
          transition: transform 0.3s ease;
          border: none;
      }

      .card:hover {
          background-color: rgb(5, 1, 63) !important;
      }
      
      .card2 {
          transition: transform 0.3s ease;
      }

      .card2:hover {
          transform: scale(1.08);
      }
      section{
          padding: 10px;
      }
  </style>
  </head>

  <body>
    <header>
      <nav>        
        <div class = "container">
          <div class="row">
              <div class = "col-2">
                  <div class = "card">
                    <a href="{% url 'single_pages:landing_page' %}">Home</a>
                  </div>
              </div>
              <div class = "col-2">
                  <div class = "card">
                    <a href="{% url 'blog:post_list' %}">Blog</a>
                  </div>
              </div>        
              <div class = "col-2">
                  <div class = "card">
                    <a href="{% url 'single_pages:about_me' %}">About Me</a>
                  </div>
              </div>
          </div>
      </div> 
      </nav>
      <hr>
    </header>

    <main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
    <section>
      
    </section>
  </body>
</html>