{% extends "base.html" %}

{% block content %}

<h3>{{ title }}</h3>
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input
        value="Submit"
        type="submit">
</form>

<a href="{% url 'todo_app:list' todo_list.id %}">
    <button type="button">Cancel</button>
</a>

{% if object %}
    <a href="{% url 'todo_app:item-delete' todo_list.id object.id %}">
        <button type="button">Delete this item</button>
    </a>
{% endif %}

{% endblock %}