{% extends 'layout.html' %}

{% block content %}
<div>
  <div>
    {% for post in posts %}
      <article>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content}}</p>
        <div>
          <p>{{ post.author.username }}</p>
          <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
<section>
<div>
  <button onclick="whatTimeIsIt()" class = "card2">현재시간</button> 
  </div>
  <hr />

  <p>아래 링크는 저의 github페이지입니다.</p>
  <a href="https://github.com/ryukyoungoh560/SOFTENG2024">github으로 이동</a>
</section>
{% endblock %}