{% extends 'layout.html' %}

{% block content %}
<h1><strong>Post</strong></i></h1>
<section>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>작성자:{{ post.author }}</p>
        {% endfor %}
    {% else %}
        <p>게시물이 없습니다.</p>
    {% endif %}

    <div>
        <i class="fas fa-clock"></i>
        <button onclick="whatTimeIsIt()" class = "card2">현재시간</button>     
    </div>

    <hr>

    <p>아래 링크는 저의 github페이지입니다.</p>
    
    <div>
        <i class="fab fa-github"></i>
        <a href="https://github.com/ryukyoungoh560/SOFTENG2024">github으로 이동</a>
    </div>
    
    
</section>
{% endblock %}

</i>